/*=========================================================
Author       : LeThienHuy.
==============================================================*/

/*=============================================================
    CSS INDEX
  =============================
    01.GENERAL STYLE

    10.MAIN CONTENT

*=============================================================*/
/*===================================*
    01.GENERAL STYLE
*===================================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --brown: #8d6e63;
    --white-cream: #f5f5dc;
    --white: #fff;
    --gray: #e0e0e0;
    --yellow: #020202;
}
/*===================================*
    01.END GENERAL STYLE
*===================================*/
/*










*/
/*===================================*
    10.START MAIN CONTENT
*===================================*/
.header-image-container {
    width: 250px;
    height: 117px;
}

.header-image-container .header-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*===================================*
    10.END MAIN CONTENT
*===================================*/
