/*=========================================================
Author       : LeThienHuy.
==============================================================*/

/*=============================================================
    CSS INDEX
  =============================
    01.GENERAL STYLE
  
		
*=============================================================*/

/*===================================*
  01.GENERAL STYLE
*===================================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --brown: #8d6e63;
    --white-cream: #f5f5dc;
    --white: #fff;
    --gray: #e0e0e0;
    --yellow: #020202;

    /* --header-bg: #266A29; */
    --body-bg: #1b2838;
    --body-bg: #ffffff;
    --header-bg: #393939;
    /* --header-bg: transparent; */
    --header-text: #000000;
    --header-text-hover: #ffcc00;
    --button-lang: #19c430;
    --footer-title-text: #9f9f9f;
    --footer-link-hover: #9f9f9f;
    --footer-legal-link-hover: #9f9f9f;
    --banner-button-bg: #19c430;
    --product-button-bg: #19c430;
    --section-header-text: #000;
    --section-header-link: #c7d5e0;
    --section-text: #000000;
}

body {
    font-family: Arial, sans-serif;
    background: url("/assets/background.png") no-repeat center center fixed;
    background-color: #fff;
    background-size: cover;
    margin: 0;
    padding: 0;
    margin: 0;
}

tbody {
    border: none;
}

a,
ul,
li {
    text-decoration: none;
    list-style: none;
    color: #fff;
}

button {
    border: none;
    margin: 0;
    text-decoration: none;
    background: none;
    color: #fff;
    cursor: pointer;
}

img {
    -webkit-user-drag: none;
}

.ngl-hide {
    display: none;
}

:root {
    --scrollbar-width: 17px;
    --mesh-column: 4;
    --mesh-gutter: var(--space-5);
    --mesh-margin: var(--space-6);
    --mesh-container-width: calc(
        (100vw - var(--scrollbar-width, 0)) - var(--mesh-margin) -
            var(--mesh-margin) + var(--mesh-gutter)
    );
    --mesh-column-width: calc(var(--mesh-container-width) / var(--mesh-column));
}

:root {
    --space-1: 2px;
    --space-2: 4px;
    --space-3: 7px;
    --space-4: 10px;
    --space-5: 14px;
    --space-6: 21px;
    --space-7: 28px;
    --space-8: 35px;
    --space-9: 42px;
    --space-10: 56px;
    --space-11: 70px;
    --space-12: 112px;
    --space-13: 224px;
}

@media (min-width: 360px) {
    :root {
        --mesh-margin: var(--space-7);
    }
}

@media (min-width: 768px) {
    :root {
        --mesh-column: 12;
        --mesh-margin: var(--space-9);
    }
}

@media (min-width: 1367px) {
    :root {
        --mesh-margin: var(--space-11);
    }
}

@media (min-width: 1920px) {
    :root {
        --mesh-column: 24;
    }
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.container {
    display: flex;
    width: 95%;
    margin: 50px auto;
}
/*===================================*
    01.END GENERAL STYLE
*===================================*/
/*










*/
/*===================================*
    01.START LEFT CONTENT
*===================================*/
.main {
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    padding: 30px 0;
}

.section {
    width: 100%;
    padding: 10px 30px;
    background-color: #fff;
}

/* Name */
.main .product-name {
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    color: #000;
    margin-bottom: 10px;
    margin-left: 50px;
}
/*===================================*
    01.END LEFT CONTENT
*===================================*/