* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a,
ul,
li {
    text-decoration: none;
    list-style: none;
    color: #fff;
}

button {
    border: none;
    margin: 0;
    text-decoration: none;
    background: none;
    color: #fff;
    cursor: pointer;
}

body {
    font-family: Arial, sans-serif;
    background: url("/assets/background.png") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}
.container {
    width: 50%;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
h1 {
    text-align: center;
    color: #d63384;
}
table {
    width: 100%;
    border-collapse: collapse;
}
td {
    padding: 10px;
}
td.label {
    text-align: left;
    font-weight: bold;
    width: 30%;
}
input[type="text"],
input[type="password"],
input[type="email"] {
    width: calc(100% - 20px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="radio"] {
    margin-right: 5px;
}
.button-submit {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.button-submit:hover {
    background-color: #0056b3;
}

/* Thông báo lỗi */
input.input-error {
    border-color: red;
    background-color: #ffe6e6;
}
.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
/* Logo */
.logo {
    width: 100px;
}

/* Error */
.error-login {
}

.footer .container {
    display: flex;
    width: 95%;
    margin: 0 auto;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    border-radius: 0;
}
