/*=========================================================
Author       : LeThienHuy.
==============================================================*/

/*=============================================================
    CSS INDEX
  =============================
    01.GENERAL STYLE
  
		
*=============================================================*/

/*===================================*
  01.GENERAL STYLE
*===================================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --brown: #8d6e63;
    --white-cream: #f5f5dc;
    --white: #fff;
    --gray: #e0e0e0;
    --yellow: #020202;

    /* --header-bg: #266A29; */
    --body-bg: #1b2838;
    --body-bg: #ffffff;
    --header-bg: #393939;
    /* --header-bg: transparent; */
    --header-text: #000000;
    --header-text-hover: #ffcc00;
    --button-lang: #19c430;
    --footer-title-text: #9f9f9f;
    --footer-link-hover: #9f9f9f;
    --footer-legal-link-hover: #9f9f9f;
    --banner-button-bg: #19c430;
    --product-button-bg: #19c430;
    --section-header-text: #000;
    --section-header-link: #c7d5e0;
    --section-text: #000000;
    --product-boxshadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    --product-info-bg: linear-gradient(
        -45deg,
        rgba(64, 121, 153, 1) 5%,
        rgba(42, 62, 89, 1) 95%
    );
    --product-info-bg-hover: linear-gradient(
        to right,
        rgba(56, 107, 135, 1) 5%,
        rgba(68, 130, 163, 1) 95%
    );
    --product-name-hover: #19c430;
    --product-header-link: #ffffff66;
    --discount-bg: #4c6b22;
    --discount-text: #beee11;
    --final-price-text: #000000;
    --cart-item-bg: transparent;
}

body {
    font-family: Arial, sans-serif;
    background: url("/assets/background.png") no-repeat center center fixed;
    background-color: #fff;
    background-size: cover;
    margin: 0;
    padding: 0;
    margin: 0;
}

tbody {
    border: none;
}

a,
ul,
li {
    text-decoration: none;
    list-style: none;
    color: #fff;
}

button {
    border: none;
    margin: 0;
    text-decoration: none;
    background: none;
    color: #fff;
    cursor: pointer;
}

img {
    -webkit-user-drag: none;
}

.ngl-hide {
    display: none;
}

:root {
    --scrollbar-width: 17px;
    --mesh-column: 4;
    --mesh-gutter: var(--space-5);
    --mesh-margin: var(--space-6);
    --mesh-container-width: calc(
        (100vw - var(--scrollbar-width, 0)) - var(--mesh-margin) -
            var(--mesh-margin) + var(--mesh-gutter)
    );
    --mesh-column-width: calc(var(--mesh-container-width) / var(--mesh-column));
}

:root {
    --space-1: 2px;
    --space-2: 4px;
    --space-3: 7px;
    --space-4: 10px;
    --space-5: 14px;
    --space-6: 21px;
    --space-7: 28px;
    --space-8: 35px;
    --space-9: 42px;
    --space-10: 56px;
    --space-11: 70px;
    --space-12: 112px;
    --space-13: 224px;
}

@media (min-width: 360px) {
    :root {
        --mesh-margin: var(--space-7);
    }
}

@media (min-width: 768px) {
    :root {
        --mesh-column: 12;
        --mesh-margin: var(--space-9);
    }
}

@media (min-width: 1367px) {
    :root {
        --mesh-margin: var(--space-11);
    }
}

@media (min-width: 1920px) {
    :root {
        --mesh-column: 24;
    }
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.container {
    display: flex;
    width: 95%;
    margin: 50px auto;
}
/*===================================*
    01.END GENERAL STYLE
*===================================*/
/*










*/
/*===================================*
    01.START LEFT CONTENT
*===================================*/
.main {
    width: 70%;
    border-radius: 10px;
    background-color: #fff;
    padding: 30px 0;
}

.section {
    width: 100%;
    padding: 10px 30px;
    background-color: #fff;
}

/* Name */
.main .product-name {
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    color: #000;
    margin-bottom: 10px;
    margin-left: 50px;
}

/* Price */
.original-price {
    color: #9da7bc;
    text-decoration-line: line-through;
}

.discount {
    display: inline-block;
    margin-left: 7px;
    padding: 3px 5px;
    border-radius: 5px;
    color: #fff;
    background-color: #ff0101b3;
}

.discount-end {
    display: inline-block;
    margin-top: 7px;
}

/* Description */
.description {
    margin-top: 10px;
    color: #000;
    font-size: 16px;
    font-weight: 400;
}

/* Tag */
.tags {
    margin-top: 10px;
}

.tag-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

.tag-container .tag {
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: #000000c2;
    color: #fff;
}

.tag-container .tag:hover {
    background-color: #000000;
}

/* Details */
.game_page_autocollapse_ctn {
    position: relative;
}

.game_page_autocollapse_ctn.collapsed {
    padding-bottom: 20px;
}

.game_page_autocollapse {
    overflow: hidden;
    max-height: 850px;
}

.game_area_description {
    line-height: 1.5em;
    font-size: 14px;
    margin-top: 30px;
    overflow: hidden;
    width: 616px;
    max-width: 100%;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
}

/* Details area */
.product-info h2:not(.BB_Header2) {
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 300;
    font-size: 22px;
    text-transform: uppercase;
    color: #000000;
    margin: 0 0 10px;
    letter-spacing: 0.03em;
    font-weight: bold;
    padding-top: 2px;
}

.product-info h2 {
    line-height: 26px;
    font-weight: bold;
    font-size: 16px;
    color: #000000;
    background-image: url(/assets/maincol_gradient_rule.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    margin-bottom: 1px;
}

.game_area_description h2.bb_tag {
    margin-top: 18px;
    margin-bottom: 0px;
    background-image: none;
    font-size: 15px;
    color: #2f89bc;
    text-transform: none;
    letter-spacing: 0px;
}

.game_area_description img.bb_img {
    max-width: 100%;
}

.game_area_description ul {
    color: #282b2d;
    margin-left: 16px;
    list-style-type: square;
}

.game_area_description ul li,
.game_area_description ol li {
    margin-bottom: 8px;
    list-style-type: square;
    color: #282b2d;
}

.bb_ul > li {
    list-style-position: outside;
}

.game_area_description p strong,
.game_area_description strong {
    font-family: "Motiva Sans", Sans-serif;
    font-weight: bold;
}

/* Fade */
.game_page_autocollapse_fade {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 73px;
    z-index: 1;
    background: url("/assets/fade.png") repeat-y;
}

.game_page_autocollapse_ctn.collapsed .game_page_autocollapse_fade {
    display: block;
}

.game_page_autocollapse_readmore {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
    color: #537ca6;
    font-size: 10px;
    padding-right: 12px;
    background: url("/assets/readmore.png") right center no-repeat;
}

/* System requirement */
.system-requirements{
    margin-top: 20px;
}

.sysreq_contents {
    display: none;
    margin-top: 5px;
}

.sysreq_contents.active {
    display: block;
}

.game_area_sys_req {
    display: flex;
}

.sysreq_tabs,
.discselect_tabs {
    font-size: 12px;
    margin-bottom: 15px;
    background: -webkit-linear-gradient(
        left,
        rgba(58, 111, 139, 0.751) 0%,
        rgba(58, 110, 139, 0) 100%
    );
    background: linear-gradient(
        to right,
        rgba(58, 110, 139, 0.2) 0%,
        rgba(58, 110, 139, 0) 100%
    );
}

.sysreq_tab,
.discselect_tab {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 20px;
    margin-right: 10px;
    color: #3b6e8c;
    cursor: pointer;
}

.sysreq_tab:hover, .discselect_tab:hover {
    color: #2b2b2b;
}

.sysreq_tab.active,
.discselect_tab.active {
    background-color: #18222e;
    color: #67c1f5;
    cursor: default;
}

.game_area_sys_req .sysreq_label {
    font-weight: normal;
    color: #000;
    text-transform: uppercase;
}

.game_area_sys_req_leftCol,
.game_area_sys_req_rightCol {
    width: 50%;
}

.game_area_sys_req_rightCol {
    margin-left: 20px;
}

.game_area_sys_req ul li strong {
    color: #61686d;
    font-size: 12px;
    margin-right: 4px;
    font-weight: normal;
    margin-bottom: 2px;
    text-transform: none;
}

.game_area_sys_req strong,
.album_metadata_chunk_name {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 10px;
    color: #bcc6cd;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 4px;
}

.game_area_sys_req ul li span {
    color: #000;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 2px;
    text-transform: none;
}
/*===================================*
    01.END LEFT CONTENT
*===================================*/
/*










*/
/*===================================*
    02.START MEDIA
*===================================*/
.main .product-media {
    width: 100%;
    height: 420px;
    padding: 20px 0 10px;
    background-color: #fff;
    user-select: none;
}

.main .product-media .swiper-wrapper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Image */
.main .product-media .swiper-wrapper img {
    width: calc(100% - 100px);
    height: 100%;
}

/* Videos */
.main .product-media .swiper-wrapper video,
.main .product-media .swiper-wrapper iframe {
    width: calc(100% - 100px);
    height: 100%;
    background-color: #000;
}

/* Thumbs */
.main .swiper-thumbs {
    width: 90%;
    height: 130px;
    padding: 10px 0 30px;
    margin: 0 auto;
    background-color: #fff;
    user-select: none;
}

.main .swiper-thumbs .swiper-wrapper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid transparent;
    cursor: pointer;
}

.main .swiper-thumbs .swiper-wrapper img {
    width: 100%;
    height: 100%;
}

.main .swiper-thumbs .swiper-slide.swiper-slide-thumb-active {
    border-color: #007bff; /* Màu border cho ảnh được chọn */
}

.main .swiper-thumbs .swiper-wrapper .play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 32px;
    background: url("/assets/icons/play-video.png") no-repeat center center;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Button */
.swiper-button {
    padding: 35px 25px;
    border-radius: 5px;
}

.swiper-button:hover {
    background-color: #dfdfdf;
}

.swiper-button.swiper-button-prev {
    left: 0;
}

.swiper-button.swiper-button-next {
    right: 0;
}

/* Thanh trượt */
.media-container .swiper-thumbs .swiper-scrollbar {
    height: 18px; /* Chiều cao của thanh trượt */
    background: #e0e0e0; /* Màu nền thanh trượt */
    border-radius: 10px; /* Bo góc */
    margin-top: 5px;
}

.media-container .swiper-thumbs .swiper-scrollbar-drag {
    background-color: #233c5166; /* Màu thanh kéo */
    border-radius: 10px;
}

.media-container .swiper-thumbs .swiper-scrollbar-drag:hover {
    background-color: #233c51; /* Màu thanh kéo khi hover */
}
/*===================================*
    02.END MEDIA
*===================================*/
/*










*/
/*===================================*
    03.START RIGHT CONTENT
*===================================*/
aside.right-content {
    position: sticky;
    top: 30px;
    flex: 1;
    height: auto;
    min-height: 500px;
    padding: 0px 0px 20px;
    border-radius: 10px;
    margin: 0 0 0 10px;
}

/* Header image */
.product-header-img {
    width: 100%;
    height: 200px;
    padding: 0;
}

aside.right-content .product-info {
    padding: 10px;
    background-color: #fff;
}

.details_block {
    margin-top: 20px;
}

.dev_row {
    margin-top: 5px;
}

/* Price */
.price {
    color: #c50017;
    font-size: 18px;
    font-weight: 600;
}

/* Quantity */
.quantity-container {
    margin-top: 20px;
}
.quantity-container button {
    padding: 5px 10px;
    margin: 0;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #000;
    cursor: pointer;
}
.quantity-container button:hover {
    background-color: #e0e0e0;
}
.quantity-container input {
    width: 50px;
    height: 28px;
    text-align: center;
    border: 1px solid #ccc;
    margin: 0;
}

.quantity-label {
    display: inline-block;
    margin-bottom: 10px;
}

/* Button mua */
.buy-btn {
    width: 100%;
    padding: 10px 0;
    margin-top: 25px;
    border-radius: 5px;
    background: linear-gradient(to right, #47bfff 0%, #1a44c2 60%);
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

/* Button giỏ hàng */
.cart-btn {
    width: 100%;
    padding: 10px 0;
    margin-top: 10px;
    border-radius: 5px;
    background: linear-gradient(to right, #75b022 5%, #588a1b 95%);
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

.buy-btn:hover {
    background: linear-gradient(to right, #47bfff 5%, #1a44c2 95%);
}

.cart-btn:hover {
    background: linear-gradient(to right, #8ed629 5%, #6aa621 95%);
}

.buy-btn:active {
    background: linear-gradient(to right, #47bfff 0%, #1a44c2 60%);
}

.cart-btn:active {
    background: linear-gradient(to right, #75b022 5%, #588a1b 95%);
}

/* Features */
.features {
    margin-top: 20px;
    color: #000;
}

.feature-list .feature-link {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    background: #000000c2;
}

.features .feature-list .feature-icon {
    padding: 0px 6px;
    display: flex;
}

.features .feature-list .feature-icon img {
    width: 26px;
    height: 16px;
}

.features .feature-list .feature-title {
    display: flex;
    justify-content: space-between;
    padding: 6px 8px;
    height: 100%;
    background: #67c1f51a;
    width: 100%;
    border-radius: 1px;
    color: #66c0f4;
}

.features .feature-link:hover .feature-title {
    text-decoration: none;
    color: #ffffff;
    background: #67c1f5;
    background: linear-gradient(135deg, #67c1f5 0%, #417a9b 100%);
}

/* Language */
.languages-table {
    width: 100%;
    border-collapse: collapse;
}

.languages-table tr {
    border-bottom: 1px solid #626366;
}

.languages-table td {
    padding: 3px 0px 3px 0px;
    font-size: 12px;
}

.languages-table td.check-col {
    width: 62px;
    text-align: center;
}

.all_languages {
    text-decoration: none;
    color: #007bff;
    font-size: 12px;
    cursor: pointer;
    margin-top: 5px;
    display: inline-block;
}

.all_languages:hover {
    color: #0056b3;
}

/* Genre */
.genre,
.dev {
    color: #007bff;
}

/* Achievements */
.achievements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.achievement {
    width: 80px;
    height: 80px;
    margin-right: 4px;
}

.view-all-achievements {
    background-color: rgba(103, 193, 245, 0.2);
    border-radius: 1px;
    font-size: 13px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    color: #67c1f5;
    text-align: center;
    width: 80px;
    height: 80px;
    padding: 0 4px;
    margin-right: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    line-height: 14px;
}

.view-all-achievements:hover {
    color: #ffffff;
    text-decoration: none;
    background: linear-gradient(135deg, #67c1f5 0%, #417a9b 100%);
}
/*===================================*
    03.END RIGHT CONTENT
*===================================*/
/*










*/
/*===================================*
    04.START PRODUCT RELATE
*===================================*/
.product-relate .swiper-slide {
    height: 280px;
    border: 1px #858d9f solid;
}

.product-relate .product-img {
    width: 100%;
    height: 150px;
    padding: 0;
}

.product-relate .product-name {
    height: 41px;
    line-height: 20px;
    margin: 3px 0 10px;
    transition: all 0.3s ease-in-out;
    color: #585858;
    text-align: start;

    display: -webkit-box; /* Sử dụng Flexbox để giới hạn số dòng */
    line-clamp: 2;
    -webkit-line-clamp: 2; /* Giới hạn số dòng tối đa */
    -webkit-box-orient: vertical; /* Định hướng các dòng theo chiều dọc */
    overflow: hidden; /* Ẩn nội dung tràn */
    text-overflow: ellipsis; /* Hiển thị dấu ... */
}

/*===================================*
    04.END PRODUCT RELATE
*===================================*/
