* {
    box-sizing: border-box;
}

a,
ul,
li,
p {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

button {
    border: none;
    margin: 0;
    text-decoration: none;
    background: none;
    color: #fff;
    cursor: pointer;
}

body {
    font-family: Arial, sans-serif;
    background: url("/assets/background.png") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    width: 95%;
    margin: 50px auto;
}
h1 {
    text-align: center;
    color: #d63384;
}

/* Logo */
.logo {
    width: 100px;
}

/*****************************
        Left content
*****************************/
.main {
    width: 70%;
    border-radius: 10px;
    background-color: #fff;
}

.section {
    width: 100%;
    padding: 10px 30px;
    background-color: #fff;
}

/* Price */
.original-price {
    color: #9da7bc;
    text-decoration-line: line-through;
}

.discount {
    display: inline-block;
    margin-left: 7px;
    padding: 3px 5px;
    border-radius: 5px;
    color: #fff;
    background-color: #ff0101b3;
}

.discount-end {
    display: inline-block;
    margin-top: 7px;
}

/* Tag */
.tag-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
}

.tag-container .tag {
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: #000000c2;
    color: #fff;
}

.tag-container .tag:hover {
    background-color: #000000;
}
/*****************************
        Left content
*****************************/

/********************
        Media
********************/
.main .product-media {
    width: 100%;
    height: 420px;
    padding: 20px 0 10px;
    background-color: #fff;
    user-select: none;
}

.main .product-media .swiper-wrapper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Image */
.main .product-media .swiper-wrapper img {
    width: calc(100% - 100px);
    height: 100%;
}

/* Videos */
.main .product-media .swiper-wrapper video,
.main .product-media .swiper-wrapper iframe {
    width: calc(100% - 100px);
    height: 100%;
    background-color: #000;
}

/* Thumbs */
.main .swiper-thumbs {
    width: 90%;
    height: 130px;
    padding: 10px 0 30px;
    margin: 0 auto;
    background-color: #fff;
    user-select: none;
}

.main .swiper-thumbs .swiper-wrapper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid transparent;
    cursor: pointer;
}

.main .swiper-thumbs .swiper-wrapper img {
    width: 100%;
    height: 100%;
}

.main .swiper-thumbs .swiper-slide.swiper-slide-thumb-active {
    border-color: #007bff; /* Màu border cho ảnh được chọn */
}

.main .swiper-thumbs .swiper-wrapper .play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 32px;
    background: url("/assets/icons/play-video.png") no-repeat center center;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Button */
.swiper-button {
    padding: 35px 25px;
    border-radius: 5px;
}

.swiper-button:hover {
    background-color: #dfdfdf;
}

.swiper-button.swiper-button-prev {
    left: 0;
}

.swiper-button.swiper-button-next {
    right: 0;
}

/* Thanh trượt */
.media-container .swiper-thumbs .swiper-scrollbar {
    height: 18px; /* Chiều cao của thanh trượt */
    background: #e0e0e0; /* Màu nền thanh trượt */
    border-radius: 10px; /* Bo góc */
    margin-top: 5px;
}

.media-container .swiper-thumbs .swiper-scrollbar-drag {
    background-color: #233c5166; /* Màu thanh kéo */
    border-radius: 10px;
}

.media-container .swiper-thumbs .swiper-scrollbar-drag:hover {
    background-color: #233c51; /* Màu thanh kéo khi hover */
}
/********************
        MEDIA
********************/

/********************
        ASIDE
********************/
aside.right-content {
    position: sticky;
    top: 30px;
    flex: 1;
    height: auto;
    min-height: 500px;
    padding: 0px 0px 20px;
    border-radius: 10px;
    margin: 0 0 0 10px;
    background-color: #fff;
}

/* Header image */
.product-header-img {
    width: 100%;
    height: 200px;
    padding: 0;
}

aside.right-content .product-info {
    padding: 10px;
}

/* Price */
.price {
    color: #c50017;
    font-size: 18px;
    font-weight: 600;
}

/* Quantity */
.quantity-container {
    margin-top: 20px;
}
.quantity-container button {
    padding: 5px 10px;
    margin: 0;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #000;
    cursor: pointer;
}
.quantity-container button:hover {
    background-color: #e0e0e0;
}
.quantity-container input {
    width: 50px;
    height: 28px;
    text-align: center;
    border: 1px solid #ccc;
    margin: 0;
}

.quantity-label {
    display: inline-block;
    margin-bottom: 10px;
}

/* Button mua */
.buy-btn {
    width: 100%;
    padding: 10px 0;
    margin-top: 25px;
    border-radius: 5px;
    background: linear-gradient(to right, #47bfff 0%, #1a44c2 60%);
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

/* Button giỏ hàng */
.cart-btn {
    width: 100%;
    padding: 10px 0;
    margin-top: 10px;
    border-radius: 5px;
    background: linear-gradient(to right, #75b022 5%, #588a1b 95%);
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

.buy-btn:hover {
    background: linear-gradient(to right, #47bfff 5%, #1a44c2 95%);
}

.cart-btn:hover {
    background: linear-gradient(to right, #8ed629 5%, #6aa621 95%);
}

.buy-btn:active {
    background: linear-gradient(to right, #47bfff 0%, #1a44c2 60%);
}

.cart-btn:active {
    background: linear-gradient(to right, #75b022 5%, #588a1b 95%);
}

/* Features */
.features {
    margin-top: 20px;
    color: #000;
}

.features .feature-list {
    /* display: flex;
    align-items: center;
    margin-bottom: 10px; */
}

.feature-list .feature-link {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    background: #000000c2;
}

.features .feature-list .feature-icon {
    padding: 0px 6px;
    display: flex;
}

.features .feature-list .feature-icon img {
    width: 26px;
    height: 16px;
}

.features .feature-list .feature-title {
    display: flex;
    justify-content: space-between;
    padding: 6px 8px;
    height: 100%;
    background: #67c1f51a;
    width: 100%;
    border-radius: 1px;
    color: #66c0f4;
}

.features .feature-link:hover .feature-title {
    text-decoration: none;
    color: #ffffff;
    background: #67c1f5;
    background: linear-gradient(135deg, #67c1f5 0%, #417a9b 100%);
}

/********************
        ASIDE
********************/

/********************************
        Sản phẩm liên quan
********************************/
.product-relate .swiper-slide {
    height: 280px;
    border: 1px #858d9f solid;
}

.product-relate .product-img {
    width: 100%;
    height: 150px;
    padding: 0;
}

.product-relate .product-name {
    height: 41px;
    line-height: 20px;
    margin: 3px 0 10px;
    transition: all 0.3s ease-in-out;
    color: #585858;
    text-align: start;

    display: -webkit-box; /* Sử dụng Flexbox để giới hạn số dòng */
    line-clamp: 2;
    -webkit-line-clamp: 2; /* Giới hạn số dòng tối đa */
    -webkit-box-orient: vertical; /* Định hướng các dòng theo chiều dọc */
    overflow: hidden; /* Ẩn nội dung tràn */
    text-overflow: ellipsis; /* Hiển thị dấu ... */
}

/* Description */
.description {
    color: #d63384;
}
/********************************
        Sản phẩm liên quan
********************************/
