/*=========================================================
Author       : LeThienHuy.
==============================================================*/

/*=============================================================
    CSS INDEX
  =============================
    01.GENERAL STYLE
    02.FOOTER STYLE

*=============================================================*/
/*===================================*
    01.GENERAL STYLE
*===================================*/
:root {
    --brown: #8d6e63;
    --white-cream: #f5f5dc;
    --white: #fff;
    --gray: #e0e0e0;
    --yellow: #020202;

    /* Footer */
    --footer-text: #677788;
    --footer-link-hover: #1964b4;

    /* Shortcut */
    --footer-shortcut-hover: #377dff1a;
}
/*===================================*
    01.END GENERAL STYLE
*===================================*/
/*










*/
/*===================================*
    02. START FOOTER STYLE
*===================================*/
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    margin-left: 16.25rem;
    padding-right: 2rem;
    padding-left: 2rem;
    color: var(--footer-text);
    transition: margin 0.3s ease-in-out;
}

.footer-list-dot {
    display: flex;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
}

.footer-item-dot:not(:last-child) {
    position: relative;
    margin-right: 4px;
    padding-right: 2rem;
}

.footer-item-dot:not(:last-child):after {
    position: absolute;
    top: calc(50% - 0.15625rem);
    right: 0.84375rem;
    width: 0.3125rem;
    height: 0.3125rem;
    background-color: #bdc5d1;
    border-radius: 0.3125rem;
    content: "";
}

.footer-link {
    color: var(--footer-text);
}

.footer-link:hover {
    color: var(--footer-link-hover);
}

.footer-shortcut-keyboard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.625rem;
    height: 2.625rem;
    border-radius: 50%;
    color: var(--footer-text);
    font-size: 1rem;
    font-weight: 400;
}

.footer-shortcut-keyboard:hover {
    background-color: var(--footer-shortcut-hover);
    color: var(--footer-link-hover);
}
/*===================================*
    02.END FOOTER STYLE
*===================================*/
